# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker volumes / logs
kafka-data/
zookeeper-data/
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini
